<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
          <%= link_to 'Главная', controller: 'apprentices' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Добавить ребенка', new_apprentice_path %>
      </li>
      <li class="nav-item">
          <%= link_to 'Расширенный поиск', controller: 'results' %>
      </li>
    </ul>
    </ul>
  </div>
</nav>
