<%= render 'apprentices/header' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'apprentices/left_block' %>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
              <div class="row my-2">
                  <div class="col-lg-8 order-lg-2">
                      <h1>В данном разделе вы можете:</h1>
                      <p><%= link_to 'Изменить свой пароль на новый', edit_user_registration_path %></p>
                    </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
<%= render 'apprentices/footer' %>
